.everything {
  display: flex;  /* flex */
  flex-direction: row;  /* flex-row */
  height: 100%;  /* h-full */
  min-height: 0px;  /* min-h-0 */
  overflow: hidden;  /* overflow-hidden */
}

.image-container {
  width: 50vw;
  height: 100%;  /* h-full */
  flex-shrink: 0;  /* shrink-0 */

  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 50%;  /* max-w-1/2 */ 
}

.work-image {
  display: block;  /* block */
  width: 100%;  /* max-w-full */
  height: 100%;
  /* width: auto;  /* w-auto */ 
  /* height: auto; */
  object-fit: contain;
}

.description {
  flex: 1;  /* flex-1 */
  overflow-y: auto;  /* overflow-y-auto */
  padding: 24px;  /* p-6 */
  font-size: var(--text-4xl);  /* text-4xl */
  line-height: var(--tw-leading, var(--text-4xl--line-height));  /* text-4xl */
  font-family: var(--font-serif);  /* font-serif */
}
